<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>33034</key>
	<dict>
		<key>des</key>
		<string>温度-N01</string>
		<key>value</key>
		<string>12</string>
		<key>other</key>
		<string>摄氏度</string>
	</dict>
	<key>33085</key>
	<dict>
		<key>des</key>
		<string>温度-N02</string>
		<key>value</key>
		<string>16</string>
		<key>other</key>
		<string>摄氏度</string>
	</dict>
	<key>33086</key>
	<dict>
		<key>des</key>
		<string>温度-N03</string>
		<key>value</key>
		<string>19</string>
		<key>other</key>
		<string>摄氏度</string>
	</dict>
	<key>33087</key>
	<dict>
		<key>des</key>
		<string>温度-N04</string>
		<key>value</key>
		<string>324</string>
		<key>other</key>
		<string>摄氏度</string>
	</dict>
	<key>33088</key>
	<dict>
		<key>des</key>
		<string>湿度-N01</string>
		<key>value</key>
		<string>41</string>
		<key>other</key>
		<string>%</string>
	</dict>
	<key>33089</key>
	<dict>
		<key>des</key>
		<string>湿度-N02</string>
		<key>value</key>
		<string>12</string>
		<key>other</key>
		<string>%</string>
	</dict>
	<key>33090</key>
	<dict>
		<key>des</key>
		<string>湿度-N03</string>
		<key>value</key>
		<string>3</string>
		<key>other</key>
		<string>%</string>
	</dict>
	<key>33091</key>
	<dict>
		<key>des</key>
		<string>湿度-N04</string>
		<key>value</key>
		<string>444</string>
		<key>other</key>
		<string>%</string>
	</dict>
</dict>
</plist>
