<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>my_app_kit_id</key>
	<string>7phKYtQeuf3vXwZmn</string>
	<key>authToken</key>
	<string>SEWRWAoXnHJSNlUADUSUEyeNSyqrOh6DhjvB3gxJxRy</string>
	<key>userId</key>
	<string>MKtXWJT9DHh9gzMbD</string>
	<key>Humidity P1</key>
	<dict>
		<key>submit_time</key>
		<string>1432277717418</string>
		<key>value</key>
		<string>35</string>
		<key>fluctuate</key>
		<string>5</string>
		<key>suffix</key>
		<string>%</string>
		<key>other</key>
		<string>摄氏度</string>
	</dict>
	<key>Humidity P2</key>
	<dict>
		<key>fluctuate</key>
		<string>5</string>
		<key>suffix</key>
		<string>%</string>
		<key>submit_time</key>
		<string>1432277717418</string>
		<key>value</key>
		<string>60</string>
		<key>other</key>
		<string>摄氏度</string>
	</dict>
	<key>Humidity P3</key>
	<dict>
		<key>fluctuate</key>
		<string>5</string>
		<key>suffix</key>
		<string>%</string>
		<key>submit_time</key>
		<string>1432277717418</string>
		<key>value</key>
		<string>65</string>
		<key>other</key>
		<string>摄氏度</string>
	</dict>
	<key>Humidity P4</key>
	<dict>
		<key>fluctuate</key>
		<string>5</string>
		<key>suffix</key>
		<string>%</string>
		<key>submit_time</key>
		<string>1432277717418</string>
		<key>value</key>
		<string>62</string>
		<key>other</key>
		<string>摄氏度</string>
	</dict>
	<key>Light P1</key>
	<dict>
		<key>fluctuate</key>
		<string>3</string>
		<key>suffix</key>
		<string>Lux</string>
		<key>submit_time</key>
		<string>1432277717418</string>
		<key>value</key>
		<string>65</string>
		<key>other</key>
		<string>摄氏度</string>
	</dict>
	<key>Temperature P1</key>
	<dict>
		<key>fluctuate</key>
		<string>2</string>
		<key>suffix</key>
		<string>℃</string>
		<key>value</key>
		<string>24</string>
		<key>submit_time</key>
		<string>1432277717418</string>
		<key>other</key>
		<string>%</string>
	</dict>
	<key>AIR Temperature P1</key>
	<dict>
		<key>fluctuate</key>
		<string>3</string>
		<key>suffix</key>
		<string>%</string>
		<key>value</key>
		<string>40</string>
		<key>submit_time</key>
		<string>1432277717418</string>
		<key>other</key>
		<string>%</string>
	</dict>
</dict>
</plist>
